@import 'reset.scss';

/* You can add global styles to this file, and also import other style files */

* {
  font-family: Arial, Arial, Helvetica, sans-serif;
  color: #FEFEFE;
}

html, body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  background: #003366;
}

body, input[type="text"], button {
  color: #DDD;
  font-family: Cambria, Georgia;
}

input[type="text"] {
  color: #333;
}

h1 {
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

h2,h3 {
  color: #DDD;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

